.dark-mode{
    background-color: black;
    color: white;
}

.dark-mode nav{
    background-color: rgb(132, 127, 127);
    color: white;
}

.dark-mode section{
    background-color: rgb(23, 21, 21);
}

.dark-mode .bg-blue-200{
    background-color: black;
    color: white;
}

.dark-mode .bg-white{
    background-color: black;
}

.dark-mode .text-gray-700{
    color: white;
}
